body {
    background-color: rgb(24, 24, 24);
    color: white;
    margin: 0;
    font-family: roboto;
    overflow: hidden;
}


.header {
    color: rgb(255, 238, 0);
    text-align: center;
    background-color: rgb(32, 32, 32);
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin-top: 240px;
}

.box {
    font-size: 20px;
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
    width: 220px;
    height: 220px;
    text-align: center;
    border-radius: 24px;
    -webkit-box-shadow: inset 8px 8px 24px -18px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 8px 8px 24px -18px rgba(66, 68, 90, 1);
    box-shadow: inset 8px 8px 24px -18px rgba(66, 68, 90, 1);

}

.box p {
    font-size: 50px;
    margin: 0px;
}

.box:hover {
    background-color: rgb(35, 36, 39);
    transition: 0.15s;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:active {
    color: inherit;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left {
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    width: 20%;
    text-align: center;
    font-size: 38px;
    width: 100%;
    height: 100%;
    height: 1500px;
    width: 300px;
    padding-top: 300px;
}

.right {
    padding: 100x;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

.full-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

#time {
    font-size: 48px;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}

.clock {
    padding: 30px;
    font-size: 30px;
}

h3 {
    font-size: 40px;
}

input {
    padding: 10px;
    width: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: whitesmoke;
    margin-left: 70px;
}